# Q1

In [1]:
a_list = [2, 3, 6]
product = 1

for item in a_list:
    product = product * item

print(product)

36

In [1]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list([2,3,6]))

36

# Q2

In [2]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [4]:
tuple1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

List2 =[]
List3 =[]

for t in tuple1:
    List2.append(t[1],)

List2.sort()

for l in List2:
    for q in tuple1:
        if l == int(q[1],):
            List3.append(q)

print(List3)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Q3

In [3]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = dict(d1) 
d3.update(d2) 
for i, j in d1.items():
    for x, y in d2.items():
        if i == x:
            d3[i]=(j+y)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [6]:
dict1 = {'a': 100, 'b': 200, 'c':300}
dict2 = {'a': 300, 'b': 200, 'd':400, 'c': 0}
  
  
for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]
    else:
        pass
          
print(dict2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

# Q4

In [4]:
n = int(input("Enter the value of n: "))
squares = {i : i*i for i in range(1, n+1)}
print(squares)

Enter the value of n: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Q5

In [5]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]